[submodule "tool/atto"]
	path = 3p/atto
	url = https://github.com/w23/atto.git
[submodule "3p/rocket"]
	path = 3p/rocket
	url = https://github.com/rocket/rocket.git
[submodule "3p/libyaml"]
	path = 3p/libyaml
	url = https://github.com/yaml/libyaml.git
[submodule "3p/miniaudio"]
	path = 3p/miniaudio
	url = https://github.com/dr-soft/miniaudio.git
[submodule "3p/kissfft"]
	path = 3p/kissfft
	url = https://github.com/mborgerding/kissfft.git
